// _baseStyles.scss
@use "variables" as *;

.wrapper {
    max-width: 1080px;
    width: 85%;
    margin: 0 auto;
}

button,
.button {
    background-color: $buttonColor;
    padding: 4px 26px;
    border: 2px solid $buttonColor;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: transparent;
    }

    &:focus {
        background-color: transparent;
    }
}

a {
    background-color: transparent;

    &:hover {
        background-color: $buttonColor;
        padding: 4px 26px;
        border: 2px solid $buttonColor;
        transition: 0.3s;
    }

    &:focus {
        background-color: $buttonColor;
        padding: 4px 26px;
        border: 2px solid $buttonColor;
        transition: 0.3s;
    }

}