// _header.scss
@use "variables" as *;

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    .hidingMenu {
        display: none;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li{
            margin: 0 1rem;
            padding: 8px 1.2rem;
        }
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    .headerContent {
        width: 45%;

    }
    .headerImgContainer {
        margin-top: 40px;
        width: 55%;
        img{
            max-width: 100%;
            // border-radius: 2rem;
            vertical-align: middle;
        }
    }

}