// _mediaQueries.scss
@use "variables" as *;

@media (max-width: 1000px) {

    // all of our styles for smaller DESKTOP devices will go with in this breakpoint
    .skills {
        .wrapper {
            flex-direction: column;

            .skillsHeading {
                width: 100%;
            }

            .skillsList {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

@media (max-width: 800px) {

    /* all of our styles for TABLET devices will go within this breakpoint */
    .navBar {
        margin: 0;

        .hidingMenu {
            display: block;
        }

        .searchMenu {
            padding: 0;
            margin: 0;
            flex-direction: column;
            justify-content: flex-end;

            li {
                margin: 0px;
                padding: 0.2rem 6px;

                a {
                    &:hover {
                        padding: 0 6px;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                    }

                    &:focus {
                        padding: 0 6px;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                    }

                }
            }

            height: 150px;
            position: relative;
            top: 0;
            right: -250px;
            width: 150px;
            transform: translateX(0);
            transition: transform 250ms ease-in-out;
            // background: $primaryBgColor;
            border: 1px solid $primaryBgColor;

        }

        input[type="checkbox"]:checked~#sidebarMenu {
            transform: translateX(-250px);
        }

        input[type=checkbox] {
            transition: all 0.3s;
            box-sizing: border-box;
            display: none;
        }

        .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            z-index: 99;
            height: 100%;
            width: 100%;
            top: 10px;
            right: 10px;
            height: 20px;
            width: 20px;
        }

        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $secondaryBgColor;
        }

        .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: right;
            margin-top: 3px;
        }

        .diagonal.part-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }

        .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }

        input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            opacity: 0;
        }

        input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 8px;
        }

        input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(-135deg);
            margin-top: -9px;
        }
    }

    header {
        flex-direction: column;

        .headerContent,
        .headerImgContainer {
            width: 100%;
        }
    }

    .aboutMe {
        .wrapper {
            flex-direction: column;

            .aboutMeImgContainer {
                width: 50%;
                margin-bottom: 40px;
            }

            .aboutMeContent {
                width: 100%;
            }
        }
    }

    .projects {
        .project {
            flex-direction: column;

            .projectImageContainer,
            .projectTextContainer {
                width: 100%;
                margin: 20px 0;
            }
        }

    }

    .contact {
        .wrapper {
            flex-direction: column;

            .contactText,
            .contactForm {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}

@media (max-width: 500px) {

    /* all of our styles for MOBILE devices will go within this breakpoint */
    .wrapper {
        width: 100%;
    }

    .aboutMe {
        margin: 0 0 0 0;
    }

    .skills {

        .wrapper {
            .skillsList {
                flex-direction: column;

                ul {
                    margin: 0;
                }
            }
        }
    }

    .contact {
        padding: 0;
    }

    footer {}

}