// _variables.scss

// site fonts
$headingFont: 'Nunito' bold 700;
$bodyFont: 'Nunito' regular 400;

// site colors
$primaryFontColor:#2A3033; 
$secondaryFontColor: #DFE0FC;
$primaryBgColor: #8792f5;
$secondaryBgColor:#3D48AE;
$solidWhite: #E7E8EE;
$buttonColor:#FBAF01;

